[submodule "silver-bun"]
	path = thirdparty
	url = https://github.com/IcePixelx/silver-bun
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook
	ignore = dirty